@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');

@media only screen and (min-width: 400px) {
  .container {
    font-family: 'Outfit';
    font-size: 20px;
    color: #A8BFC9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: #1A2A33;
  }

  .board {
    .boardRow {
      display: flex;
      gap: 20px;
      flex-direction: row;

      .square {
        background-color: #1F3641;
        border-radius: 10px;
        box-shadow: 0px 10px #10212A;
        margin-top: 20px;
        width: 120px;
        height: 110px;
        font-size: 3.5rem;
        padding: 0;
        overflow: hidden;
        transition: all 0.2s;
        font-weight: 900;

        .x {
          color: #31C3BD;
        }

        .o {
          color: #FFC860;
        }
      }

      :first-child.scorecard {
        background-color: #31C3BD;
        color: #10212A;
      }

      :nth-child(2).scorecard {
        background-color: #A8BFC9;
        color: #10212A;
      }

      :nth-child(3).scorecard {
        background-color: #FFC860;
        color: #10212A;
      }

      .scorecard {
        background-color: #1F3641;
        border-radius: 10px;
        margin-top: 20px;
        width: 120px;
        height: 90px;
        font-size: 2rem;
        padding: 0;
        overflow: hidden;
        transition: all 0.2s;
        font-weight: 600;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }

      .scorecardText {
        font-size: 16px;
        margin-top: 15px;
        font-weight: 900;
        padding: 0;
        text-transform: uppercase;
      }

      .scorecardScore {
        margin-top: -5px;
        margin-bottom: 20px;
        padding: 0;
        font-weight: 300;
      }
    }
  }

  .notifications {
    display: flex;
    gap: 20px;
    text-align: center;
  }

  .message {
    font-size: 1.5rem;
    background-color: #1F3641;
    border-radius: 10px;
    box-shadow: 0 8px #10212A;
    padding: 5px 15px;
    text-transform: uppercase;
    margin-bottom: 10px;
    width: 400px;
    font-weight: 600;
  }

  .xLetter {
    font-weight: 900;
    color: #31C3BD;
  }

  .reset {
    margin-top: 40px;
    background-color: lightgrey;
    color: #10212A;
    height: 40px;
    border-radius: 10px;
    box-shadow: 0 8px #10212A;
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
  }

  .resetIcon {
    margin-top: 3px;
  }
}

@media only screen and (max-width: 400px) {
  .container {
    font-family: 'Outfit';
    font-size: 1rem;
    color: #A8BFC9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: #1A2A33;
  }

  .board {
    .boardRow {
      display: flex;
      gap: 15px;
      flex-direction: row;
      justify-content: center;

      .square {
        background-color: #1F3641;
        border-radius: 10px;
        box-shadow: 0px 5px #10212A;
        margin-top: 20px;
        width: 70px;
        height: 65px;
        font-size: 2rem;
        padding: 0;
        overflow: hidden;
        transition: all 0.2s;
        font-weight: 900;

        .x {
          color: #31C3BD;
        }

        .o {
          color: #FFC860;
        }
      }

      :first-child.scorecard {
        background-color: #31C3BD;
        color: #10212A;
      }

      :nth-child(2).scorecard {
        background-color: #A8BFC9;
        color: #10212A;
      }

      :nth-child(3).scorecard {
        background-color: #FFC860;
        color: #10212A;
      }

      .scorecard {
        background-color: #1F3641;
        border-radius: 10px;
        margin-top: 20px;
        width: 70px;
        height: 65px;
        font-size: 1rem;
        overflow: hidden;
        transition: all 0.2s;
        font-weight: 600;
        text-align: center;
        display: flex;
        flex-direction: column;
        gap: 5px;
        justify-content: space-between;
      }

      .scorecardText {
        font-size: 0.7rem;
        margin-top: 15px;
        font-weight: 900;
        padding: 0;
        text-transform: uppercase;
      }

      .scorecardScore {
        margin-top: -5px;
        margin-bottom: 20px;
        padding: 0;
        font-weight: 300;
      }
    }
  }

  .notifications {
    display: flex;
    gap: 10px;
    text-align: center;
  }

  .message {
    font-size: 1.2rem;
    background-color: #1F3641;
    border-radius: 10px;
    box-shadow: 0 8px #10212A;
    padding: 5px 15px;
    text-transform: uppercase;
    margin-bottom: 10px;
    width: 250px;
    font-weight: 600;
  }

  .xLetter {
    font-weight: 900;
    color: #31C3BD;
  }

  .reset {
    margin-top: 40px;
    background-color: lightgrey;
    color: #10212A;
    height: 40px;
    border-radius: 10px;
    box-shadow: 0 8px #10212A;
    width: 240px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
  }

  .resetIcon {
    margin-top: 3px;
  }
}